@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
  --cor0:  #052430; 
  --cor01: #2D6C99;
  --cor02: #FFB900; 
  --cor03: #E2E3E4;
  --cor04: #8d8b91;
  --cor05: #A5A692;
  --cor06: #C43302;

    --font01: Arial, Helvetica, sans-serif;
    --font02: 'Times New Roman', Times, serif;
    --font03: 'Dancing Script', cursive;
    --font04: 'Open Sans', sans-serif;
}


* {
    margin: 0px;
    padding: 0px;

}

body {
    font-family: var(--font04);
    text-align: center;
    margin: auto;
    background-color: var(--cor04);
}

header {
    font-family: var(--font02);
    color: var(--cor02);
    padding-top: 10px;
    border-radius: 5px;
    background-color: var(--cor01);
    height: 142px;
}

h1 {
    font-size: 50px;
    text-shadow: 5px 5px 5px var(--cor0);
    text-align: left;
    text-indent: 60px;
}

.navbar {   
    font-family: var(--font02);
    margin-top: 41px;
    margin-bottom: 0px;    
    padding-right: 12px;   
    overflow: hidden;
    background-color: var(--cor02);
    border-radius: 3px;    
  }
  
  .navbar a {
    float: right;    
    color: var(--cor0);   
    text-align: center;
    margin-right: 5px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    background-color: var(--cor02);
    border: 2px solid var(--cor0);
    border-radius: 5px;
  }
  
  .subnav {
    float: right;
    margin-right: 5px;
    overflow: hidden;    
    border: 2px solid var(--cor0);
    border-radius: 5px;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: var(--cor0);
    padding: 10px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    background-color: var(--cor02);
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #fcd05a;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: none;
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: right;
    color: white;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: var(--cor0);
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }

main {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 2px 2px 3px black;
    max-width: 1000px;
    min-width: 100px;
}

h2 {
    font-size: 40px;
    color: var(--cor0);
    font-family: var(--font02);
    font-style: italic;
    text-align: center;
    border-radius: 5px;

}

section {
    width: 695px;
    min-width: 100px;
    border-radius: 5px;
    text-align: justify;    
    background-color: white;      
}

section>p {
    text-indent: 40px;
    margin: 15px;
    padding: 15px 0px 15px 0px;
}

picture>img {
    margin: auto;
    display: block;
    width: 100%;
    border-radius: 5px;
}

iframe {
    margin: auto;
    display: block;
    width: 100%;
    border-radius: 5px; 
}

aside {    
    width: 295px;
    min-width: 300px;          
    border-radius: 5px;   
    text-align: justify;  
    background-color: var(--cor05);        
}

h3 {
    background-color: #2D6C99;
    color: var(--cor0);
    font-family: var(--font02);
    font-style: italic;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

aside>p {          
    text-indent: 0px;
    margin: 5px;
    padding: 0px 0px 15px 0px;
}

aside>img {
    margin: auto;
    display: block;
    width: 100%;
    border-radius: 5px;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    border-radius: 5px;
}
